.container{
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}

.btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer; 
  font-weight: bold;
  font-stretch: extra-expanded;}
  
.btn-light {
  color: #333;                      /* download cv button color*/
  background-color: #f4f4f4; }      /* text color in there*/
  
.btn-dark {
  color: #f4f4f4;                   /* submit button color*/
  background-color: #333; }         /* text color in there*/

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #00ff00; }      /* all button color when hovered*/
  

.bg-main {
  background: #00a0ff;              /* background of bottom footer*/
  color: #fff; }                    /* text color in there*/

.bg-light {
  background: #f4f4f4;              /*background on about me*/
  color: #000; }                    /*text color in there*/
  

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }
  
.text-center {
  text-align: center; }
  

.py-2 {
  padding: 1rem 0; }            /*gap before i specialize in*/

.py-3 {
  padding: 1rem 0;
}

.py-1 {
  margin: 0.5rem 0; }           /*gap before submit button*/

  
.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }
  
.bottom-line {
  height: 2px;
  width: 5rem;
  background: #0000ff;              /* line under title*/
  display: block;
  margin: 0 auto 1rem auto; }
  
  
* {
  margin: 0;
  padding: 0; }
  
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #fff; }               /*specs of whole body of page*/

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }
  
img {
  width: 100%;}


#main-nav{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;}

#main-nav ul {
  display: flex; }

#main-nav li {
  padding: 1rem 1.5rem; }

#main-nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s; }

#main-nav a:hover {
  border-color: #ccc; }

#main-nav a.current {
  border-color: #0000ff; }  


#header-home {
  background: url("../img/showcase.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #fff; }

#header-home .header-content {
  text-align: center;
  padding-top: 20%; }

#header-home .header-content h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2; }


#home-b .stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

#home-b .stats li {
  line-height: 1.25; }                  /*gap between two lines*/

#home-b .stats li .stats-title {
  font-size: 1.5rem; }

#home-b .stats li.stats-number {
  font-size: 2rem;
  font-weight: bold; }

#home-b .stats div {
  padding: 1rem 0; }                  /* the height of client-skills-hours-projects_completed*/

#home-b .stats div:nth-child(odd) {
  background: #f4f4f4; 
  color: #0000ff; }

#home-b .stats div:nth-child(even) {
  background: #ccc; 
  color: #0000ff; }


#main-footer {
  background: #555555;                /* bottom footer - social sites*/
  color: rgb(0, 0, 0);                /* font color in there*/
  height: 5rem; }

#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center; }

#main-footer .footer-content .social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 3px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 9px;
  margin-right: 9px;
  font-size: 20px;  }

#main-footer .footer-content .social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
    
#main-footer .footer-content .social .link:hover {
  padding: 6px;
  color: white;
  margin-left: 3px;
  transform: translateX(4.5px) rotate(360deg);  }
    
#main-footer .footer-content .social .link.linkedin {
  background-color: #0e76a8;
  color: white; }

#main-footer .footer-content .social .link.twitter {
  background-color: #00ACEE;
  color: white; }

#main-footer .footer-content .social .link.facebook {
  background-color: #3B5998;
  color: white; }

#main-footer .footer-content .social .link.instagram {
  background-color: #dd2a7b;
  color: white; }

#main-footer .footer-content .social .link.youtube {
  background-color: #c4302b;
  color: white; }

#main-footer .footer-content .social .link.github {
  background-color: #211F1F;
  color: white; }


#about-a .about-info {
  display: grid;
  grid-template-areas: 'bioimage bio bio' 'aw1 aw2 aw3';
  grid-gap: 1.2rem; }

#about-a .bio-image {
  grid-area: bioimage; }

#about-a .bio {
  grid-area: bio;
  border-left: 5px solid #0000ff;
  padding: 0.8rem; }
  
  
#about-a .award-1 {
  grid-area: aw1; }

#about-a .award-2 {
  grid-area: aw2; }

#about-a .award-3 {
  grid-area: aw3; }

#about-a .award-1 .fas, #about-a .award-2 .fas, #about-a .award-3 .fas {
  color: #00ff00;                   /*award color*/
  margin: 1rem; }


#contact-home .text-fields {
  display: grid;
  grid-template-areas: 'name email' 'subject phone' 'message message';
  grid-gap: 1.2rem; }

#contact-home .text-fields .name-input {
  grid-area: name; }

#contact-home .text-fields .subject-input {
  grid-area: subject; }

#contact-home .text-fields .email-input {
  grid-area: email; }

#contact-home .text-fields .phone-input {
  grid-area: phone; }

#contact-home .text-fields .message-input {
  grid-area: message;
  height: 150px; }

#contact-home .text-fields .text-input {
  padding: 0.5rem 1rem; }
  
#contact-home button[type='submit'] {
  width: 60%; }

#contact-b .contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center; }



@media (max-width: 750px) {
  #header-home .header-content {
  padding-top: 3rem; } 

  #header-home .header-content h1 {
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 2; } 

  #main-footer {
    background: #555555;                /* bottom footer - social sites*/
    color: rgb(0, 0, 0);                /* font color in there*/
    height: 4rem; }

  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center; }
  
  #main-footer .footer-content .social .link {
    width: 20px;
    height: 20px;
    border: 1.25px dashed white;
    padding: 2px;
    transition: .5s;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px; } 
  
  #main-footer .footer-content .social .link:hover {
    padding: 3.5px;
    margin-left: 2px;
    transform: translateX(1.5px) rotate(360deg); }

  .left-button,
  .right-button{
    float: inherit !important;
  }
}

.left-button{
  width: 300px;
  float: left;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.right-button{
  width: 200px;
  float: right;
  margin-top: 13px !important;
  margin: auto;
  padding: 5px;
  text-align: center;
}
  
h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif}


@media (max-width: 500px) {

  .lead {
    font-size: .75rem;
    margin-bottom: .75rem; }

  .section-title {
    font-size: 1rem;
    display: block;
    padding-bottom: 0.25rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase; }

  #header-home .header-content {
  padding-top: 3rem; } 

  #header-home .header-content h1 {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2; }

  #home-b .stats .stats-title {
    padding-top: .5rem;
    font-size: .75rem; }
  
  #home-b .stats .stats-number {
    font-size: .5rem;
    font-weight: normal; }
  
  #home-b .stats div {
    padding: .5rem 0; }                  /* the height of client-skills-hours-projects_completed*/
  
  #about-a .about-info {
    display: grid;
    grid-template-areas: 'bioimage bio' 'aw1 aw2 aw3';
    grid-gap: .5rem; }

  #about-a .bio {
    font-size: 0.6rem;
    border-left: 2px solid #0000ff;
    padding: 0.8rem; }

  #about-a .award-1, #about-a .award-2, #about-a .award-3 {
    font-size: .5rem; }
  
  #about-a .award-1 .fas, #about-a .award-2 .fas, #about-a .award-3 .fas {
    margin: .25rem; 
    font-size: 2.5rem;}

  #contact-home .bottom-line {
    margin-bottom: 5rem;  }

  #contact-home .text-fields .text-input {
    min-width: 5rem; }

  #contact-b .contact-info {
    font-size: .5rem}
    
  #main-footer {
    background: #555555;                /* bottom footer - social sites*/
    color: rgb(0, 0, 0);                /* font color in there*/
    height: 2rem; }

  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    align-items: center; }
  
  #main-footer .footer-content .social .link {
    width: 10px;
    height: 10px;
    border: .75px dashed white;
    padding: 1.5px;
    transition: .5s;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 6px; } 
  
  #main-footer .footer-content .social .link:hover {
    padding: 3px;
    margin-left: 0px;
    transform: translateX(1.5px) rotate(360deg); }
}



/* W3css */
.border-box {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
box-sizing: inherit
}

h2 {font-size: 2rem}
h5 {font-size: 1.25rem}
h6 {font-size: 1rem}

h1,h2,h3,h4,h5,h6 {
font-family: "Segoe UI", Arial, sans-serif;
font-weight: 400;
margin: 10px 0
}

hr {
border: 0;
border-top: 1px solid #eee;
}

.pf-display-container {
position: relative
}

.pf-container:after,
.pf-container:before,
.pf-row-padding:after,
.pf-row-padding:before {
content: "";
display: table;
clear: both
}


.pf-third,
.pf-twothird {
float: left;
width: 100%;
}

@media (min-width: 601px) {
  .pf-third {
    width: 25%
    }
    
  .pf-twothird {
    width: 50%
  }

  .pf-fourth{
    width: 40%
  }

  .pf-sixth{
    width: 60%;
  }
}

.pf-content{
margin-left: auto;
margin-right: auto
}

.pf-display-bottomleft {
position: absolute;
left: 0;
bottom: 0
}

.pf-round{
border-radius: 4px;
padding-left: 4px;
padding-right: 4px;
padding-bottom: 2px;
}

.pf-round-xlarge {
border-radius: 16px
}

.pf-row-padding,
.pf-row-padding>.pf-third,
.pf-row-padding>.pf-twothird {
padding: 0 8px
}

.pf-container{
padding: 0.01em 16px
}

.pf-card{
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pf-card-4{
box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.pf-small {font-size: 10px!important}
.pf-large {font-size: 18px!important}
.pf-xxlarge {font-size: 36px!important}
.pf-center {text-align: center!important}

.pf-margin-top {margin-top: 16px!important}
.pf-margin-bottom {margin-bottom: 16px!important}
.pf-margin-right {margin-right: 16px!important}

.pf-padding-16 {
padding-top: 16px!important;
padding-bottom: 16px!important
}

.pf-teal{
color: #fff!important;
background-color: #009688!important
}

.pf-white{
color: #000!important;
background-color: #fff!important
}

.pf-light-grey{
color: #000!important;
background-color: #f1f1f1!important
}

.pf-text-teal{color: #009688!important}
.pf-text-black{color: #000!important; background-color: #009688;}
.pf-text-grey{color: #757575!important}


/* my new css */
.pf-tb-margin-x{margin: 1rem 0;}
.pf-tb-margin-xx{margin: 0.5rem 0;}
.pf-top-margin-1{margin-top: -1rem!important;}
.pf-left-margin-1{margin-left: 3rem!important;}
.pf-font-12size{font-size: 12px!important;}
.pf-font-14size{font-size: 14px!important;}
.pf-checked {color:#009688;}
.pf-unchecked {color:#c2c2c2}

